#about {
  padding: 10rem 0rem;
  min-height: 65vh;
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include respond(tab-land) {
    height: 100%;
    -webkit-clip-path: none;
    clip-path: none;
  }

  .phone-cen {
    justify-content: center;
    @include respond(tab-port) {
      justify-content: center;
    }
  }
  .about-wrapper {
    @include respond(phone) {
      padding-bottom: 5rem;
    }

    &__info {
      display: flex;
      justify-content: center;
      align-self: center;
      flex-direction: column;
      text-align: center;
      width: 65vw;

      @include respond(phone) {
        align-items: center;
      }

      &-text {
        text-align: center;
        font-size: 2rem;

        @include respond(tab-port) {
          font-size: 1.5rem;
          text-align: center;
        }
        @include respond(phone) {
          font-size: 1.6rem;
          text-align: center;
        }

        &--important {
          background: darken($secondary-colour, 1%);
          display: inline-block;
          font-style: italic;
          padding: 0 0.3rem;
          margin: 0.3rem 0;
          line-height: 1.6;

          @include respond(phone) {
            display: inline;
            margin: 0;
            padding: 0;
            background: transparent;
            font-style: normal;
          }
        }
      }
    }
  }
}
