#edu {
  padding: 5em 0;

  .eduList {
    text-align: left;
    width: 800px;

    .eduEntry {
      padding: 1rem 0;
      border-bottom: 1px solid $secondary-colour;
    }

    .lastEntry {
      padding: 1rem 0;
      margin-top: 10px;
    }

    @include respond(tab-land) {
      width: 65%;
    }

    @include respond(phone) {
      text-align: center;
    }
  }

  .grayOut {
    color: lightgray;
  }
}

.eduDate {
  font-size: $default-font-size;
  float: right;

  @include respond(phone) {
    float: none;
  }
}
