#hero {
  min-height: 100vh;
  height: 100vh;
  padding: 0;
  display: flex;
  align-items: center;
  border-bottom: 0px;
  font-weight: 400;
  color: $white-color;
  margin-bottom: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  .bg {
    width: 100%;
    min-height: 100vh;
    height: 100vh !important;
    background-position: center !important;
    background-repeat: repeat-y !important;
    background-size: cover !important;
    position: absolute !important;
    transition: ease !important;
    filter: brightness(0.55);
  }

  .container {
    padding: 0;
  }

  .hero-block {
    display: flex;
    justify-content: space-between;

    @include respond(phone) {
      flex-direction: column;
    }
  }

  .hero-title {
    font-size: 5.6rem;
    font-weight: 700;
    margin-bottom: 3.2rem;
    text-align: left;

    .hero-techText {
      font-weight: 300;
    }
    @include respond(tab-land) {
      font-size: 4rem;
    }
    @include respond(tab-port) {
      font-size: 3.6rem;
      text-align: center;
    }
    @include respond(phone) {
      font-size: 3.5rem;
      line-height: 1.5;
      margin-bottom: 1rem;
    }
    @include respond(phone-xs) {
      font-size: 2.8rem;
    }
  }

  .hero-info {
    display: inline-block;
    border-left: solid;
    padding: 0 1em;
    text-align: left;

    span {
      font-weight: 400;
    }

    &__text {
      padding: 2rem 0;

      @include respond(phone) {
        padding-top: 0;
      }
    }

    @include respond(phone) {
      font-weight: 400;
      font-size: 1.5rem;
      border: none;
      padding-bottom: 1em;
      text-align: center;
    }
  }

  .hero-cta {
    display: flex;

    @include respond(tab-port) {
      padding-top: 3rem;
      justify-content: center;
    }

    & a {
      font-size: 2.4rem;

      @include respond(phone) {
        font-size: 2rem;
      }
    }
  }

  .btm-block {
    position: absolute;
    bottom: 0.5em;
    align-self: flex-end;
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    font-size: 4rem;
    cursor: pointer;
  }

  .bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
  }

  @keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-20px);
    }
    60% {
      transform: translateY(-10px);
    }
  }
}

.phone-hide {
  @include respond(phone) {
    display: none;
  }
}
